*{
  margin: 0;
  padding: 0;
}

$purple: #400862;
$purple-light: #6c139b;

body{
  background-color: $purple;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.carousel{
  height: 80%;
  width: 100%;
}

.carousel-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $purple-light;
  width: 80%;
  margin: 0 10%;
  height: 600px;
  border: 2px solid #000000;
  border-radius: 20px;
}

.question__title{
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.question__answers{
  display: flex;
  width: 100%;
  height: 25%;
  gap: 20px;
  padding: 20px;
  font-size: 30px;
  font-weight: 500;
}

.question__answer{
  width: 25%;
  border-radius: 20px;
  background-color: $purple;
}

.bg-yellow{
  background-color: #e1e100;
}

.bg-blue{
  background-color: #0065ea;
}

.bg-green{
  background-color: #00e000;
}

.bg-red{
  background-color: #e50000;
}